/* global stylings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color: #ebf2ff;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}

.btn-primary {
  border: none;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  background-size: 200%;
  transition: 0.6s;
}

.btn-primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* navbar  */
.navbar {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.navbar__brand {
  width: 100px;
}

.navbar__brand__logo {
  width: 100%;
}

.navbar .btn-primary {
  margin-right: 15px;
}

/* end of navbar */

/* hero section */

.hero__container {
  width: 100%;
  margin-top: 1rem;
}

.hero__container__image {
  width: 100%;
  position: relative;
}

.hero__image {
  width: 100%;
  border-radius: 6px;
  position: absolute;
  z-index: 99999999;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__container__image__bg__1 {
  position: absolute;
  z-index: 5;
}
.hero__container__image__bg__2 {
  z-index: 2;
}

.hero__container__description h1 {
  font-size: 1.6rem;
  line-height: 2.25rem;
  color: #1d3557;
  font-weight: 900;
}

.hero-btn {
  padding: 8px;
  margin-top: 15px;
}
/* end of hero section */

/* explore section */

.explore {
  margin-top: 3.5rem;
  padding: 10px 0;
  /* overflow-y:auto; */
}
.explore-heading {
  text-align: center;
  margin-bottom: 12px;
  color: #1d3557;
}

.menu-card {
  background-color: #fff;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.menu-card:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}
.menu-card-img-container {
  width: 100%;
}
.menu-card-img-container img {
  width: 100%;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.menu-card-description {
  padding: 15px;
}

.menu-card-description h4 {
  font-weight: 800;
  line-height: 2rem;
  color: #1d3557;
}

.explore-btn {
  margin-top: 25px;
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 15px;
  font-size: 17px;
}

/* end of explore section */

/* restaurants section */

.restaurants {
  margin-top: 3rem;
}

.restaurants-heading {
  margin-bottom: 1.5rem;
  color: #1d3557;
  font-size: 1.2rem;
}
.restaurant-1 img,
.restaurant-2 img,
.restaurant-3 img,
.restaurant-4 img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.row-1 {
  display: flex;
  gap: 8px;
  align-items: baseline;
  margin-bottom: 12px;
}

.row-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 8px;
}
.restaurant-2 img,
.restaurant-4 img {
  width: 200px;
  height: 100px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.restaurant-1 img,
.restaurant-3 img {
  width: 150px;
  height: 80px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.restaurant-1 {
  justify-self: flex-end;
}

/* end of restaurants section */

/* stay updated section */
.updated {
  margin-top: 4.5rem;
  width: 100%;
  color: #1d3557;
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.updated-heading {
  font-size: 1.8rem;
}
.updated-content {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
}
.email {
  padding: 12px;
  width: 220px;
  border-radius: 4px;
  border: 1px solid #ee89a0;
  background-color: #fcedf0;
  font-weight: 700;
}

/* end of stay updated section */
/* quote section */
.quote {
  position: relative;
  margin-top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80)
    center center / cover no-repeat;
  z-index: -3;
}
.quote-image-overlay {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #1d3557;
  opacity: 50%;
  border-radius: 13px;
  z-index: -2;
}

.quote-container {
  font-size: 1.4rem;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/*end of qoute section*/

/* footer */
.footer {
  margin-top: 5rem;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
}
.footer-logo {
  width: 60%;
}
.footer-logo img {
  width: 100%;
  filter: brightness(0) invert(1);
}
.footer-content ul {
  list-style-type: none;
  font-size: 1.2rem;
  color: #fff;
  padding-bottom: 40px;
}
.footer-content ul li {
  margin-bottom: 6px;
  cursor: pointer;
}
/* end of footer */
/*media queries*/

@media (min-width: 576px) {
  * {
    overflow-x: unset;
  }
  .hero__container {
    margin: auto;
    width: 80%;
    margin-top: 1rem;
  }

  .menu-cards {
    display: flex;
    gap: 12px;
    margin-top: 35px;
  }

  .explore-heading {
    margin-top: -25px;
  }
  .explore-btn {
    margin: auto;
    margin-top: 10px;
    width: 60%;
    background-color: transparent;
    background-image: unset;
    transition: background-color 1s;
  }

  .explore-btn:hover {
    background-position: none;
    background-size: none;
    background-color: #fff !important;
    color: black;
  }
  .menu-card-2 {
    margin-bottom: 40px;
    margin-top: -20px;
  }
  .explore {
    position: relative;
    padding: 15px;
  }
  .explore-container-gradient-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -5;
    transform: skewY(-5deg) !important;
  }

  .restaurant-2 img,
  .restaurant-4 img {
    width: 250px;
    height: 125px;
  }
  .restaurant-1 img,
  .restaurant-3 img {
    width: 200px;
    height: 100px;
  }
  .restaurants-heading {
    margin-top: 5rem;
    font-size: 1.5rem;
  }
  .updated-heading {
    font-size: 2.3rem;
  }
  .email {
    width: 300px;
  }
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
  }
  .footer-logo {
    width: 45%;
  }
  .footer-content {
    text-align: left;
  }
  .footer-content ul {
    padding-bottom: 0%;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 15px;
  }
  .explore {
    margin-top: 5rem;
  }
  .btn-primary {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 18px;
    border-radius: 5px;
  }
  .menu-cards {
    gap: 15px;
    padding: 10px;
  }
  .hero__container {
    margin: auto;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 4rem;
  }

  .hero__container__image__bg__1 {
    margin-top: -25px;
  }
  .hero__container__image__bg__2 {
    margin-top: -25px;
  }

  .explore-heading {
    color: #1d3557;
    font-size: 2.7rem;
  }
  .restaurants {
    display: flex;
    margin-top: 8rem;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .restaurants-heading {
    font-size: 1.2rem;
    margin-top: 0%;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .quote-container {
    font-size: 2rem;
  }
  .quote {
    height: 300px;
    padding: 30px;
  }
  .quote-image-overlay {
    height: 300px;
  }
  .footer {
    padding: 0;
  }
  .footer-logo {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding: 0 30px;
  }
  .btn-primary {
    padding: 15px 25px;
    border-radius: 5px;
  }
  .hero__container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    align-items: center;
    margin-top: 4rem;
  }

  .hero__container__image__bg__1 {
    margin-top: -35px;
  }
  .hero__container__image__bg__2 {
    margin-top: -35px;
  }
  .menu-cards {
    padding: 15px;
    gap: 25px;
  }
  .explore-heading {
    font-size: 3rem;
  }
  .restaurants-heading {
    font-size: 1.4rem;
  }
  .email {
    width: 400px;
  }
  .updated-btn {
    padding: 6px 8px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .navbar {
    padding: 0 40px;
  }
  .btn-primary {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 5px;
  }

  .hero__container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 4rem;
  }

  .hero__container__description h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: #1d3557;
    font-weight: 900;
  }

  .restaurants-heading {
    font-size: 2rem;
    text-align: left;
  }
  .restaurant-2 img,
  .restaurant-4 img {
    width: 300px;
    height: 260px;
  }
  .restaurant-1 img,
  .restaurant-3 img {
    width: 250px;
    height: 180px;
  }
  .updated-heading {
    font-size: 3rem;
  }
  .quote-container {
    font-size: 2.3rem;
  }
}
